page-login {
    .scroll-content {
        display: table !important;
        width: 100%;
        height: 100%;
        padding: 0px !important;
    }
    .login-container {
        padding: 20px;
        background-image: url('../../assets/imgs/login/bg.jpg');
        background-size: cover;
        display: table-cell;
        vertical-align: middle;
        
        .image {
            text-align: center;
            padding: 20px;
            img {
                width: 100px;
            }
        }

        form {
            .form-group {
                display: block;
                margin-bottom: 10px;
                input {
                    padding: 15px;
                    font-size: 16px;
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid map-get($map: $colors, $key: gray)
                }
                input:active, input:focus {
                    border: 1px solid map-get($map: $colors, $key: primary)
                }
            }
        }

        button {
            padding: 25px !important;
            background: map-get($map: $colors, $key: primary);
            width: 100%;
            border-radius: 20px;
            color: white;
        }
    }
}