
<ion-content padding class="login-page">
  
  <div class="login-container">
    
    <div class="image">
      <img src="../../assets/imgs/login/user.png" />
    </div>
    <form>
        <div class="form-group">
          <input name="username" placeholder="Email/Hp" />
        </div>

        <div class="form-group">
          <input name="password" type="password" placeholder="Password" />
        </div>

        <button ion-button round full (click)="login()">Login</button>
    </form>
  </div>
</ion-content>
