<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title style="text-align:left">Transaksi {{type}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="form-telephon">
    <div class="inputan">
      <label>Nomor Telephon</label>
      <input type="tel" id="telepon" placeholder="Contoh: 085xxxxxxx"/>
    </div>
    <div class="image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Logo_IM3_Ooredoo.svg/140px-Logo_IM3_Ooredoo.svg.png" />
    </div>
  </div>
  
  <div class="clearfix"></div>
  <div class="divider" color="dark"></div>
  
  <div class="list-harga">
    <!-- <input placeholder="Cari Nominal" /> -->
    <ul>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
      <li>
        <label>Nominal</label>
        <span>30.000</span>
        <button>Rp. 30.000</button>
      </li>
    </ul>
  </div>

  <div class="summary">
  </div>
</ion-content>
