page-home {

}

ion-row{
    ion-card {
        width:100% !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        img {
            width:100%;
        }
    }
}

.services {
    position: relative;
    top: -30px;
    margin: 0px 20px;
    min-height: 80px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);

    ul {
        padding: 0px;
        text-align: left;
        li {

            text-align: center;
            display: inline-block;
            margin: 10px 10px;
            list-style: none;

            ion-icon {
                display: block;
                margin-bottom: 10px;
                font-size: 35px;
            }
        }
    }

    ion-grid {
        ion-row {
            text-align: left;
            ion-col {
                padding: 2px;
                div {
                    border-radius: 5px;
                    border: 2px solid map-get($map: $colors, $key: primary);
                    height: 70px;
                    width: 100%;
                    display: table;
                    caption {
                        vertical-align: middle;
                        display: table-cell;
                        text-align: center;
                        line-height: 12px;
                        span {
                            font-size: 12px;
                        }
                        ion-icon {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.fromTrx {
    text-align: left !important;

    form .input  {
        float: left;
        width: 80%;
        label {
            font-size: 12px;
        }

        input {
            display: block;
            width: 100% ;
            border: none;
            border-bottom: 1px solid map-get($map: $colors, $key: gray);
            font-size: 17px;
            padding: 10px 5px 10px 5px;
        }
        input:focus {
            border-bottom: 1px solid map-get($map: $colors, $key: primary);
        }
    }
    form .image {
        float: right;
        width: 15%;
        margin-top: 20px
    }
}

select-icon {
    div {
        width: 100%
    }
}

.service-list {
    padding: 30px;
    box-shadow: none !important;
    height: 80px;
    border-radius: 0px;
    border: 0.5px solid map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: primary);
    background: white !important;
}

.home-bg {
    height: 150px;
    z-index: -1;
    // opacity: 0.8;
    background-color: map-get($colors, primary);
    // background-image: url('https://images.unsplash.com/photo-1510093119537-f102b0e4460a?ixlib=rb-0.3.5&s=0eee1e9b1fb7dd0e1e44338d8b22f439&auto=format&fit=crop&w=750&q=80')
    img {
        width: 80% !important;
        margin-top: 10%
    }
}




home-popover {

    ion-list {
        padding: 0px !important;

        ion-item {
            margin: 0px !important;
        }
    }
    
}