<!--
  Generated template for the TrxHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>TrxHistory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="trx-history">
    <div class="item">
        <ion-card ion-item *ngFor="let trx of trxs" (click)="detailTrx(trx.title)">
          <ion-card-header>
            {{trx.title}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <label>Tanggal Trx.</label>
                  <span>{{trx.tanggal}}</span>
                </ion-col>
                <ion-col>
                  <label>Status</label>
                  <span>{{trx.status}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

        </ion-card>
    </div>
  </div>
</ion-content>
