page-trx-history {

    ion-card {
        text-align: left;
        border: 1px solid #f0f0f0 !important;
        margin-bottom: 5px !important;
        padding: 0px !important;
        border-radius: 0px 0px 20px 20px  !important;
        ion-card-header {
            padding: 5px !important;
            padding-left: 20px !important;
            border-bottom: 1px solid #f0f0f0;
        }

        ion-card-content:active, ion-card-content:focus {

        }
        ion-card-content {
            ion-grid ion-row {
                margin-bottom: -20px !important;
                    ion-col {
                    text-align: center;
                    margin: 0px !important;
                    label {
                        font-size: 11px;
                        display: block;
                    }
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
