<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="account-page">
    <div class="account-cover">
        <div>
          <span class="saldo-title">Saldo Anda</span>
          <h4 class="saldo-angka"><sup>(Rp.)</sup> 5,000,000</h4>
          <span>Poin Anda</span>
          <h4 class="poin-angka">100xs</h4>
        </div>
    </div>
    <div class="account-image">
      <img src="../../assets/imgs/dani.jpg"/>
    </div>
    <div class="account-hading">
      Data Keanggotaan
    </div>
    <div class="account-body">
          <ion-item>
            <ion-label stacked>Username</ion-label>
            <span>Hamdani</span>
          </ion-item>
          
    </div>
  </div>
</ion-content>